## LANGUAGE
# Language of the app
# Accepted: glg(Galician), eng(English) and cas(Spanish)
# Default: eng
language = eng
##

## DATABASE
# indicates wheather or not the script with the useful
# extra data is run or not.
# The language insert one is always run.
populate_db = true
##/ LANGUAGE

## PATHS
# Where do you wish logs to be saved, folder doesnt need to exist
# Default: media/logs
log_folder = media/logs

# Folder where the posters are saved.
poster_folder = media/poster

# Where do you wish to have the db created or where should media4 look for to connect.
# Default: media/db/Database.db
db_file_location = media/db/Database.db

# Where are the translation files located at
# do NOT change unless you move them from this default location.
# Default: media/i18n
i18n_folder = media/i18n
##/ PATHS

## SERVICES
# telegram bot token
telegram_bot_token =
##/ SERVICES

## UI
# What user interface do you wish to use
# Accepted: terminal, customtkinter
# Default: terminal
user_interface = terminal

# UI - TERMINAL
# pagination
# how many elements you want to be shown at once.
pagination_limit = 5

# symbols
# Title symbol decorator
title_symbol = *
# what marks the start of a input in the ui
input_symbol = >
# what marks the title of a option pick input block
option_title_symbol = <
# what symbol is used to mark the separation of blocks of orders
separator_symbol = -
# what symbol is used to start a error message to the user
error_symbol = !!
# add new element symbol, used in the option listing to indicate adding new one
add_symbol = +
# remove element symbol, used in the option listing to indicate removing one
remove_symbol = -
# used to indicate an end date want to be set to be the same as a start one
equal_symbol = =
# used for specifying you want to see all existing elements
all_symbol = *
#/ UI - TERMINAL
##/ UI
