{
    "language": "eng",
    "internationalization_folder": "media/i18n",
    "log_folder": "media/logs",
    "db_file_location": "media/db/Database.db",
    "db_table_names": {
        "Code": "Code",
        "Codec": "Codec",
        "CodecType": "CodecType",
        "Country": "Country",
        "Encoder": "Encoder",
        "Extension": "Extension",
        "File": "File",
        "FileShareSite": "FileShareSite",
        "FileStream": "FileStream",
        "FolderName": "FolderName",
        "Language": "Language",
        "LanguageCode": "LanguageCode",
        "LanguageName": "LanguageName",
        "LanguageNameLanguage": "LanguageNameLanguage",
        "Media": "Media",
        "MediaGroup": "MediaGroup",
        "MediaIssue": "MediaIssue",
        "MediaName": "MediaName",
        "MediaNameCountry": "MediaNameCountry",
        "MediaNameLanguage": "MediaNameLanguage",
        "MediaPoster": "MediaPoster",
        "MediaStatus": "MediaStatus",
        "MediaStatusName": "MediaStatusName",
        "MediaStatusNameLanguage": "MediaStatusNameLanguage",
        "MediaType": "MediaType",
        "MediaTypeName": "MediaTypeName",
        "MediaTypeNameLanguage": "MediaTypeNameLanguage",
        "MediaWeb": "MediaWeb",
        "Platform": "Platform",
        "ShareSite": "ShareSite",
        "ShareSiteSubs": "ShareSiteSubs",
        "ShareSiteType": "ShareSiteType",
        "Warehouse": "Warehouse",
        "WarehouseType": "WarehouseType",
        "Web": "Web"
    }
}
